﻿@model MvcForum.ViewModel.TagVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        @foreach (var item in Model.post)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.PostId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.PostId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.HeadLine)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.HeadLine)
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TagId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
