﻿@model MvcForum.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data"  asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="photo" class="control-label"></label>
                    <input asp-for="photo" class="form-control" />
                    <span asp-validation-for="photo" class="text-danger"></span>
                </div>*@
                <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="photo" multiple />
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<MvcForum.ViewModel.ForumUserData> forums = ViewBag.Forums;

                                foreach (var forum in forums)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedForums"
                                               value="@forum.ForumID"
                                               @(Html.Raw(forum.Assigned ? "checked=\"checked\"" : "")) />
                                        @forum.ForumID @:  @forum.ForumName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>                     

        </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
