﻿@model MvcForum.ViewModel.UserVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        @foreach (var item in Model.posts)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.PostId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.PostId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.HeadLine)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.HeadLine)
            </dd>

        }
        @foreach (var bb in Model.forums)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelbb => bb.FName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelbb => bb.FName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelbb => bb.FId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelbb => bb.FId)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
