﻿@*@{ ViewBag.Title = "Index";}
    @section scripts {
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/Home/Index.js"></script>
    }
    <div id="summaryDisplay" class="display">
        <h4>Reservations</h4>
        <table>
            <thead>
                <tr>
                    <th class="selectCol">UserName</th>
                    <th class="nameCol">Email</th>
                    <th class="locationCol">Photo</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr><td colspan="3">The data is loading</td></tr>
            </tbody>
        </table>
        <div id="buttonContainer">
            <button id="refresh">Refresh</button>
            <button id="add">Add</button>
            <button id="edit">Edit</button>
            <button id="delete">Delete</button>
        </div>
    </div>

    <div id="addDisplay" class="display">
        <h4>Add New Reservation</h4>
        @{
            AjaxOptions addAjaxOpts = new AjaxOptions
            {
                OnSuccess = "getData",
                Url = "/api/ABC"
            };
        }
        @using (Ajax.BeginForm(addAjaxOpts))
        {
            @Html.Hidden("ReservationId", 0)
            <p><label>Name:</label>@Html.Editor("ClientName")</p>
            <p><label>Location:</label>@Html.Editor("Location")</p>
            <button type="submit">Submit</button>
        }
    </div>

    <div id="editDisplay" class="display">
        <h4>Edit Reservation</h4>
        <form id="editForm">
            <input id="editReservationId" type="hidden" name="ReservationId" />
            <p><label>Name:</label><input id="editClientName" name="ClientName" /></p>
            <p><label>Location:</label><input id="editLocation" name="Location" /></p>
        </form>
        <button id="submitEdit" type="submit">Save</button>
    </div>*@
@model IEnumerable<MvcForum.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Users" asp-action="Index">
    <p>
        Title: <input type="text" name="searchstring">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.photo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
