﻿@model MvcForum.ViewModel.ForumVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumName)
        </dd>
        @foreach (var item in Model.posts)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.PostId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.PostId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.HeadLine)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.HeadLine)
            </dd>

        }
        @foreach (var aa in Model.users)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelaa => aa.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelaa => aa.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelaa => aa.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelaa => aa.UserName)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ForumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
