﻿@model IEnumerable<MvcForum.Models.Forum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Forums" asp-action="Index">
    <p>
        Title: <input type="text" name="searchstring">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ForumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ForumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ForumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
