﻿@model MvcForum.ViewModel.PostVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeadLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeadLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tags)
        </dt>
        @foreach (var item in Model.tags)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.TagId)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.TagName)
            </dd>

        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForumName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForumName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
